version: "3.8"
services:
  api:
    restart: always
    hostname: api
    build: .
    ports:
      - "5000:5000"
    command: uvicorn src.main:app --host 0.0.0.0 --port 5000
    # volumes:
    #   - .:/app
